.edit-container {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.edit-title {
  padding: 0;
  border-bottom: 1px solid #dfdbdb;
}


/* button {
  background-color: rgb(92, 158, 243);
  color: white;
  border: none;
  height: 30px;
  width: 40px;
  transition: 0.15;
  font-size: 18px;

} */

/* button {
  height: 50px;
  width: 65px;
  border: 1px solid lightgray;
  border-radius: 25px;
} */

.buttons {
  display: flex;
  justify-content: space-between;
  
}

.cancel-btn,
.save-btn {
  background-color: rgb(73, 128, 248);
  color: white;
  border: none;
  height: 34px;
  width: 118px;
  border-radius: 17px;

}