div {
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(#ffffff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: 240px;
  left: 20px;
  right: 40px;
}
p{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story-table {
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial;
}

.story-table th,
.story-table td{
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
} 
.point-button,
.edit-button {
  background-color: #f2f2f3;
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.chip{
  --mat-chip-elevated-container-color: green;
  --mat-chip-label-text-color: white;
  --mat-chip-outline-color: transparent;
  border:none;
}
.edit-icon{
  height: 21px;
  width: 21px;
  margin-right: 4px;
}
/* .chip {
  font-weight: bold;
  color: white;
  border: none;
} */

.point-chip {
  font-weight: bold;
  border: none;
  --mat-chip-elevated-container-color: #00aaff;
  --mat-chip-label-text-color: white;
  --mat-chip-outline-color: transparent;
}



