.issue-container {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.sprint-title {
  padding: 0;
  border-bottom: 1px solid #dfdbdb;
}
.add-sprint{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.add-button{
  background-color: rgb(73, 128, 248);
  color: white;
  border: none;
  height: 34px;
  width:  118px;
  border-radius: 17px;
  
}
.close-btn{
  background-color: rgb(92, 158, 243);
  color:white;
  border: none;
  height: 30px;
  width: 40px;
  transition: 0.15;
  font-size: 18px;
  
}
.close-btn:hover{
  background-color:rgb(121, 166, 226);
}
h3{
  display: flex;
  justify-content: space-between;
}
.date{
  width: 720px;
}